.ipynb_checkpoints
*.log
env/*
logs/*
data/*
csv/*
db/*
yfinance.cache
drive_md.sqlite.db
ft/cmd_runner/output
ft/cmd_runner/todo
ft/cmd_runner/bin
ft/cmd_runner/*.log
ft/token.json
ft/token.txt
ft/md
ft/up.txt
ft/tel_bot_trade_notif.token.txt
ft/nohup.out
ft/node_modules
ft/*.jpeg
ft/logs
ft/tel.send.cron.log
git_pull.cron.log
